<% provide(:title, 'Message') %>
<h1> Chat out your heart! </h1>

<div>
  <% @old_messages.each do |message| %>
    <% if message.sender == current_user %>
      <div class='float-right'>
    <% else %>
      <div>
    <% end %> 
      <%= message.sender.name.capitalize %>:
      <%= message.content%>, <%=message.created_at%>
    </div><br>
  <% end %>
</div>

<%= form_for [@group, @message], url: {action: "create"}  do |m| %>
  <%= m.label :content %>
  <%= m.text_area :content, class: 'form-control', autocomplete: "off" %>
  <%= m.submit "Send", class: "btn btn-primary" %>

<% end %>

